In [1]:
# 2. Write a Python program to multiply all the items in a list 
# Sample Output [3,4,5,4,7] Multiply all the items in a list : 1680

import math
l = [3,4,5,4,7]
print(math.prod(l))

1680

In [2]:
# 3. Write a Python program to get the largest number from a list 
# Sample Output [1,7,10,34,2,8] Largest Number : 34

l = [1,7,10,34,2,8]
print(max(l))

34

In [3]:
# 4. Write a Python program to get the smallest number from a list 
#Sample Output [51,7,10,34,2,8] Smallest Number : 2

l = [1,7,10,34,2,8]
print(min(l))

1

In [4]:
# 5. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
# ['abc', 'xyz', 'aba', '1221'] First and Last Character are same : 2

s=['abc', 'xyz', 'aba', '1221']
count=0
for i in s:
    if len(i)>2 and i[0]==i[-1]:
        count+=1
print(count)

2

In [5]:
# 6. Write a Python program to remove duplicates from a list 
# Sample Output [1,2,3,7,2,1,5,6,4,8,5,4] {1,2,3,4,5,6,7,8}

l =[1,2,3,7,2,1,5,6,4,8,5,4]
s = set(l)
print(list(s))

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
# 7. Write a Python program to check a list is empty or not 
# Sample Output [34,45,6,5,4,56,7] List is Not Empty

l =[34,45,6,5,4,56,7]
if len(l)>=1:
    print("List is Not Empty")
else:
    print("List is  Empty")

List is Not Empty

In [7]:
# 8. Write a Python program to clone or copy a list 
# Sample Output [10, 22, 44, 23, 4] Clone or Copy a List : [10, 22, 44, 23, 4]

l= [10, 22, 44, 23, 4]
s = l.copy()
print(s)

[10, 22, 44, 23, 4]

In [8]:
# 9. Write a Python program to find the list of words that are longer than n from a given list of words 
# Sample Output Find the List of Words that are Longer than n from a given List of Words Given value of n = 4 ['Words', 'Longer', 'given', 'Words']

s = ['Words', 'Longer', 'given', 'Words','aa']
n=4
count=0
for i in s:
    if len(i)>4:
        count+=1
print(count)

4

In [9]:
# 10. Write a Program that get two lists as input and check if they have at least one common member
# Sample Output [1,2,3,4,5] [5,6,7,8,9] Lists have at least one common member

l1 = [1,2,3,4,5] 
l2=[5,6,7,8,9]
s1 = set(l1)
s2 = set(l2)
common = s1.intersection(s2)
if len(common)>=1:
    print("Lists have at least one common member")
else:
    print("Lists have no common member")

Lists have at least one common member

In [10]:
# 11. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. (enumerate)
# Sample Output ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] ['Dog', 'Elephant', 'Fox', 'Ponda']

s =  ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
indices_to_remove = [0,4,5]
for i in sorted(indices_to_remove,reverse=True):
    s.pop(i)
print(s)

['Dog', 'Elephant', 'Fox', 'Ponda']

In [11]:
# 12. Write a Python program to print the numbers of a specified list after removing even numbers from it 
# Sample Output [7,32,81,20,25,14,23,27] [7, 81, 25, 23, 27]
l = [7,32,81,20,25,14,23,27]
lst=[]
for i in l:
    if i %2!=0:
        lst.append(i)
print(lst)

[7, 81, 25, 23, 27]

In [12]:
# 13. Write a Python program to shuffle and print a specified list (shuffle) 
# Sample Output ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] ['Fox', 'Cat', 'Tiger', 'Lion', 'Dog', 'Ponda', 'Elephant']

import random as rd
l = ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] 
rd.shuffle(l)
print(l)

['Fox', 'Ponda', 'Elephant', 'Dog', 'Lion', 'Cat', 'Tiger']

In [13]:
# 14. Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30
# Sample Output First 5 elements : [1, 4, 9, 16, 25] Last 5 elements : [625, 676, 729, 784, 841]

lst1 = [n*n for n in range(1,30) if n<6]
lst2 = [n*n for n in range(1,30) if n>24]
print("First 5 elements: ", lst1)
print("Last 5 elements: ", lst2)

First 5 elements:  [1, 4, 9, 16, 25]
Last 5 elements:  [625, 676, 729, 784, 841]

In [14]:
# 15. Write a Python program to generate all permutations of a list in Python. (itertools) 
# Sample Output [1,2,3] [(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

from itertools import permutations
print(list(permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [15]:
# 16. Write a Python program to convert a list of characters into a string
# Sample Output ['T','u','t','o','r',' ','J','o','e','s'] Tutor Joes

s = ['T','u','t','o','r',' ','J','o','e','s']
str1="".join(s)
print(str1)

Tutor Joes

In [18]:
# 17. Write a Python program to find the index of an item in a specified list
# Sample Output [20, 70, 30, 90, 10, 30, 90, 10, 80] Item to find the index of 30 Index Number of Item = 2

l = [20, 70, 30, 90, 10, 30, 90, 10, 80]
i = int(input("Enter the number: "))
l.index(i)

Enter the number:  30

2

In [19]:
# 18. Write a Python program to flatten a shallow list 
# Sample Output [[20,30,70],[30,90,10], [30,20], [70,90,10,80]] [20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

s = [[20,30,70],[30,90,10], [30,20], [70,90,10,80]]
lst=[]
for i in s:
    lst.extend(i)
print(lst)

[20, 30, 70, 30, 90, 10, 30, 20, 70, 90, 10, 80]

In [20]:
# 19. Write a Python program to add a list to the second list 
# Sample Output [10, 20, 30, 40] ["Cat", "Dog", "Lion", "Ponda"] [10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']
l1 = [10, 20, 30, 40]
l2 = ["Cat", "Dog", "Lion", "Ponda"]
l1.extend(l2)
l1

[10, 20, 30, 40, 'Cat', 'Dog', 'Lion', 'Ponda']

In [21]:
# 20. Write a Python program to select an item randomly from a list Using random.choice() 
# Sample Output ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"] Item randomly from a list : Fox
import random as rd
s =  ["Cat", "Dog", "Elephant", "Fox", "Tiger", "Lion", "Ponda"]
rd.choice(s)

'Ponda'

In [22]:
# 21. Write a python program to check whether two lists are circularly identical 
# Sample Output [8, 8, 12, 12, 8] [8, 8, 8, 12, 12] [1, 8, 8, 12, 12] Compare List1 and List2 : True Compare List1 and List3 : False

l1 = [8, 8, 12, 12, 8]
l2 = [8, 8, 8, 12, 12]
l3 = [1, 8, 8, 12, 12]

def circularly_identical(lst1, lst2):
    if len(lst1) != len(lst2):
        return False

    for i in range(len(lst1)):
        if lst1[i:] + lst1[:i] == lst2:
            return True
    return False

print("Compare l1 and l2 :", circularly_identical(l1, l2))
print("Compare l1 and l3 :", circularly_identical(l1, l3))

Compare l1 and l2 : True
Compare l1 and l3 : False

In [ ]:
l1 = [8, 8, 12, 12, 8]

In [ ]:
l1[:0]

In [ ]:
l1[::-1]

In [23]:
# 22. Write a Python program to find the second smallest number in a list 
# Sample Output [2,4,56,78,4,34,5,8,9] Second Smallest Number : 4

l = [2,4,56,78,4,34,5,8,9]
l = sorted(l)
print(l[1])

4

In [24]:
# 23. Write a Python program to find the second largest number in a list 
# Sample Output [82,4,56,78,4,34,5,100,9] Second Largest Number : 82

l = [82,4,56,78,4,34,5,100,9]
l = sorted(l,reverse=True)
print(l[1])

82

In [25]:
# 24. Write a Python program to get unique values from a list 
# Sample Output [82, 4, 10, 56, 78, 4, 34, 5, 10, 9] [34, 4, 5, 9, 10, 78, 82, 56]

l = [82, 4, 10, 56, 78, 4, 34, 5, 10, 9]
s = set(l)
print(list(s))

[34, 4, 5, 9, 10, 78, 82, 56]

In [26]:
# 25. Write a Python program to get the frequency of the elements in a list. 
# Sample Output [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30] Counter({50: 3, 10: 2, 30: 2, 20: 2, 60: 2, 40: 2})

l = [10, 30, 50, 10, 20, 60, 20, 60, 40, 40, 50, 50, 30]
d = dict()
for i in l:
    s = l.count(i)
    d[i]=s
print(d)

{10: 2, 30: 2, 50: 3, 20: 2, 60: 2, 40: 2}

In [28]:
# 26. Create a list by concatenating a given list which range goes from 1 to n 
# Sample Output ['T', 'J'] N = 10 
# ['T1', 'J1', 'T2', 'J2', 'T3', 'J3', 'T4', 'J4', 'T5', 'J5', 'T6', 'J6', 'T7', 'J7', 'T8', 'J8', 'T9', 'J9', 'T10', 'J10']

L=['T', 'J'] 
N = 10 

lst = [i+str(j) for i in L for j in range(1,N+1)]
print(lst)

['T1', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7', 'T8', 'T9', 'T10', 'J1', 'J2', 'J3', 'J4', 'J5', 'J6', 'J7', 'J8', 'J9', 'J10']

In [31]:
# 27. Write a Python program to get variable unique identification number or string 
# Sample Output x = 30 s = "Tutor Joes" Unique Identification Number : 7005f980 Unique Identification String : c24bb0

x = 30
s = "Tutor Joes"

uid_number = hex(id(x))[-8:]
uid_string = hex(id(s))[-8:]

print("Unique Identification Number :", uid_number)
print("Unique Identification String :", uid_string)

Unique Identification Number : 4e69e6c8
Unique Identification String : 96a10b70

In [30]:
# 28. Write a Python program to find common items from two lists 
# Sample Output [23,45,67,78,89,34] [34,89,55,56,39,67] Common items from two lists : {89, 34, 67}

l1 = [23,45,67,78,89,34] 
l2 = [34,89,55,56,39,67]
print(set(l1).intersection(set(l2)))

{89, 34, 67}

In [32]:
# 29. Write a Python program to split a list based on first character of word 
# Sample Output ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"] 
# F Fox S Shark Snake b bear c cat cow d dog l lion m monkey mouse t tiger turtle

l = ["cat", "dog", "cow", "tiger", "lion", "Fox", "Shark", "Snake", "turtle", "mouse", "monkey", "bear"]
animal={}
for i in l:
    first_char = i[0].lower()
    if first_char not in animal:
        animal[first_char] = []
    animal[first_char].append(i)
print(animal)

{'c': ['cat', 'cow'], 'd': ['dog'], 't': ['tiger', 'turtle'], 'l': ['lion'], 'f': ['Fox'], 's': ['Shark', 'Snake'], 'm': ['mouse', 'monkey'], 'b': ['bear']}

In [33]:
# 30. Write a Python program to select the odd number of a list 
# Sample Output [1,2,4,3,6,7,5,8,9,7,8,9,10] [1, 3, 7, 5, 9, 7, 9]

l = [1,2,4,3,6,7,5,8,9,7,8,9,10]
odd_no = [i for i in l if i % 2 !=0]
print(odd_no)

[1, 3, 7, 5, 9, 7, 9]

In [34]:
# 31. Write a Python Program to count unique values inside a list 
# Sample Output [10, 20, 30, 50, 80, 70, 70, 80, 10] No of Unique Items in List : 6

l = [10, 20, 30, 50, 80, 70, 70, 80, 10]
s = set(l)
print("No of Unique Items in List: ", len(s))

No of Unique Items in List:  6

In [35]:
# 32. Write a Python Program to List product excluding duplicates 
# Sample Output [2, 1, 2, 4, 6, 4, 3, 2, 1] Duplication removal list product : 144

import math as m

l = [2, 1, 2, 4, 6, 4, 3, 2, 1]
s = set(l)
m.prod(list(s))

144

In [38]:
# 33. Write a Python Program to Extract elements with Frequency greater than K 
# Sample Output [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]

l = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = int(input("Enter the frequency: "))
lst=[]
for i in l:
    if l.count(i) > K:
        lst.append(i)
print(list(set(lst)))

Enter the frequency:  2

[3, 4]

In [39]:
# 34. Write a Python Program to Test if List contains elements in Range 
# Sample Output [4, 5, 6, 7, 3, 9] Does list contain all elements in range : True

lst = [4, 5, 6, 7, 3, 9]
R = range(5)
result = all(x<=max(R) for x in lst)
print("Does list contain all elements in range :", result)

Does list contain all elements in range : False

In [40]:
# 35. Write a Python program to check if the list contains three consecutive common numbers in Python 
# Sample Output [18, 18, 18, 6, 3, 4, 9, 9, 9] Three Consecutive common numbers = 18, 9

l = [18, 18, 18, 6, 3, 4, 9, 9, 9]
# lst=[]
# for i in range(len(l)-2):
#     if l[i]==l[i+1]==l[i+2]:
#         lst.append(l[i])
# print(lst)
lst = [l[i] for i in range(len(l)-2) if l[i]==l[i+1]==l[i+2]]
print(lst)

[18, 9]

In [41]:
# 36. Write a Python program to find the Strongest Neighbour 
# Sample Output [10,20,30,20,30,400] 20 30 30 30 400

l = [10,20,30,20,30,400]
# lst=[]
# i=0
# while i < len(l)-1:
#     lst.append(max(l[i],l[i+1]))
#     i +=1
# lst

lst = [max(l[i],l[i+1]) for i in range(len(l)-1)]
print(lst)

[20, 30, 30, 30, 400]

In [42]:
max(1,2)

2

In [43]:
# 37. Write a Python Program to print all Possible Combinations from the three Digits 
# Sample Output [1, 2, 3] 1 2 3  1 3 2  2 1 3  2 3 1  3 1 2  3 2 1

from itertools import permutations

l = [1, 2, 3]
com = permutations(l,3)
for i in com:
    print(i)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [44]:
# 38. Write a Python program to find all the Combinations in the list with the given condition 
# Sample Output ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']] 
# [ ['Tutor Joes', 'Software', 'Solution'], ['Tutor Joes', 'Computer', 'Education'] ]

l = ['Tutor Joes', ['Software', 'Computer'], ['Solution', 'Education']]
lst = [[l[0],l[1][i],l[2][i]] for i in range(len(l[1]))]
lst

[['Tutor Joes', 'Software', 'Solution'],
 ['Tutor Joes', 'Computer', 'Education']]

In [45]:
# 39. Write a Python program to get all unique combinations of two Lists 
# Sample Output ['A','B','C'] [1,2,3] [ [('A', 1), ('B', 2), ('C', 3)], 
# [('A', 1), ('C', 2), ('B', 3)], [('B', 1), ('A', 2), ('C', 3)], [('B', 1), ('C', 2), ('A', 3)],
# [('C', 1), ('A', 2), ('B', 3)], [('C', 1), ('B', 2), ('A', 3)] ]

from itertools import permutations

l1 = ['A','B','C']
l2 = [1,2,3]
lst=[]
for p in permutations(l1):
    lst.append(list(zip(p,l2)))
print(lst)

[[('A', 1), ('B', 2), ('C', 3)], [('A', 1), ('C', 2), ('B', 3)], [('B', 1), ('A', 2), ('C', 3)], [('B', 1), ('C', 2), ('A', 3)], [('C', 1), ('A', 2), ('B', 3)], [('C', 1), ('B', 2), ('A', 3)]]

In [46]:
# 40. Write a Python program to remove all the occurrences of an element from a list 
# Sample Output [1, 3, 4, 6, 5, 1] [3, 4, 6, 5]

l =  [1, 3, 4, 6, 5, 1]
# lst = []
# for i in l:
#     if l.count(i)==1:
#         lst.append(i)
# print(lst)

lst = [i for i in l if l.count(i)==1]
print(lst)

[3, 4, 6, 5]

In [47]:
# 41. Write a Python Program to Remove Consecutive K element records 
# Sample Output [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ] 
# [ ('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C') ]

l = [ ('A', 'B', 'C', 'D'), ('B', 'C', 'C', 'I'), ('H', 'D', 'B', 'C'), ('C', 'C', 'G', 'F') ]
lst=[]
for t in l:
    for i in range(len(t)-1):
        if t[i]==t[i+1]:
            l.remove(t)
print(l)

[('A', 'B', 'C', 'D'), ('H', 'D', 'B', 'C')]

In [48]:
# 42. Write a Python Program to Replace index elements with elements in Other List 
# Sample Output ['Tutor Joes', 'Computer', 'Education'] [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2] 
# ['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 
# 'Computer', 'Tutor Joes', 'Computer', 'Education']

l1 = ['Tutor Joes', 'Computer', 'Education']
l2 = [2, 1, 0, 1, 0, 2, 2, 0, 1, 0, 1, 2]
# lst=[]
# for j in l2:
#     for i in l1:
#         if l1.index(i)==j:
#             lst.append(i)
# print(lst)

lst = [l1[i] for i in l2]
print(lst)

['Education', 'Computer', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Education', 'Education', 'Tutor Joes', 'Computer', 'Tutor Joes', 'Computer', 'Education']

In [49]:
# 43. Write a Python Program to Retain records with N occurrences of K 
# Sample Output [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ] K = 5 N = 2 [ (4, 5, 6, 5, 4), (5, 5, 2) ]

l = [ (4, 5, 6, 5, 4), (4, 5, 3), (5, 5, 2), (3, 4, 9) ]
K = 5
N = 2
lst=[]
for t in l:
    if t.count(K)==N:
        lst.append(t)
print(lst)

[(4, 5, 6, 5, 4), (5, 5, 2)]

In [50]:
# 44. Write a Python Program to Swap elements in String list 
# Sample Output ['Tutor', 'joes', 'Computer', 'Education'] ['Tutor', "Joe's", 'Software', 'Solutions']

l1 = ['Tutor', 'joes', 'Computer', 'Education']
l2 = ['Tutor', "Joe's", 'Software', 'Solutions']
for i in range(len(l1)):
    l1[i] = l2[i]
print(l1)

['Tutor', "Joe's", 'Software', 'Solutions']

In [51]:
# 45. Write a Python program to reverse All Strings in String List
# Sample Output Original list = ['Tutor', 'joes', 'Computer', 'Education'] 
# Reversed list = ['rotuT', 'seoj', 'retupmoC', 'noitacudE'] Reversed list = ['Education', 'Computer', 'joes', 'Tutor']

l = ['Tutor', 'joes', 'Computer', 'Education'] 
print(l[::-1])

['Education', 'Computer', 'joes', 'Tutor']

In [52]:
# 46. Write a Python program to find the character position of Kth word from a list of strings 
# Sample Output ['Tutor', 'joes', 'Computer', 'Education'] K = 20 Index of character at Kth position word: 3

In [53]:
# 47. Write a Python Program to Prefix frequency in string List
# Sample Output ['TjC', 'TjCpp', 'TjPython', 'Java'] Prefix = 'Tj' Strings count with matching frequency : 3

l = ['TjC', 'TjCpp', 'TjPython', 'Java'] 
Prefix = 'Tj'
count=0
for i in l:
    if i.startswith(Prefix):
        count+=1
print(count)

3

In [54]:
# 48. Write a Python Program to Split Strings on Prefix Occurrence 
# Sample Output ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj'] Prefix = 'Tj' [ ['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj'] ]

l = ['TjC', 'TjCpp', 'TjPython', 'Java', 'tj'] 
Prefix = 'Tj' 
temp=[]
lst=[]
for i in l:
    if i.startswith(Prefix):
        if temp:
            lst.append(temp)
        temp = [i]
    else:
        temp.append(i)
lst.append(temp)
print(lst)

[['TjC'], ['TjCpp'], ['TjPython', 'Java', 'tj']]

In [55]:
# # 49. Write a Python program to Replace all Characters of a List Except the given character 
# Sample Output ['P', 'Y', 'T', 'H', 'O', 'N'] ['@', '@', 'T', '@', '@', '@']

l = ['P', 'Y', 'T', 'H', 'O', 'N']
lst=[]
for i in l:
    if i!='T':
        lst.append('@')
    else:
        lst.append(i)
print(lst)

['@', '@', 'T', '@', '@', '@']

In [56]:
# 50. Write a Python Program to Add Space between Potential Words
# Sample Output ['TutorJoes', 'ComputerEducations'] [' Tutor Joes', ' Computer Educations']

l = ['TutorJoes', 'ComputerEducations']
lst=[]
for i in l:
    new_word = ""
    for ch in i:
        if ch.isupper():
            new_word += " " + ch
        else:
            new_word+=ch
    lst.append(new_word)
print(lst)

[' Tutor Joes', ' Computer Educations']

In [57]:
lst = ["".join(" "+ch if ch.isupper() else ch for ch in i) for i in l]
lst

[' Tutor Joes', ' Computer Educations']